.card-zoom {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Animation */
  margin: 0 auto;
}

.card-zoom:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.text-zoom {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Animation */
  margin: 0 auto;
}

.text-zoom:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.card-img-top {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(22vw, 57vh, 100px);
            transform: translate3d(22vw, 57vh, 100px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(22vw, 57vh, 100px);
            transform: translate3d(22vw, 57vh, 100px);
  }
}

.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 1;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(13vw, 2vh, 16px);
          transform: translate3d(13vw, 2vh, 16px);
  background: #2644d9;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(39vw, 49vh, 37px);
            transform: translate3d(39vw, 49vh, 37px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(39vw, 49vh, 37px);
            transform: translate3d(39vw, 49vh, 37px);
  }
}

.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.53;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(59vw, 4vh, 32px);
          transform: translate3d(59vw, 4vh, 32px);
  background: #26b5d9;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(86vw, 49vh, 44px);
            transform: translate3d(86vw, 49vh, 44px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(86vw, 49vh, 44px);
            transform: translate3d(86vw, 49vh, 44px);
  }
}

.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.97;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(56vw, 39vh, 22px);
          transform: translate3d(56vw, 39vh, 22px);
  background: #26d956;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(89vw, 54vh, 82px);
            transform: translate3d(89vw, 54vh, 82px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(89vw, 54vh, 82px);
            transform: translate3d(89vw, 54vh, 82px);
  }
}

.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.4;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(43vw, 70vh, 63px);
          transform: translate3d(43vw, 70vh, 63px);
  background: #56d926;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(23vw, 81vh, 91px);
            transform: translate3d(23vw, 81vh, 91px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(23vw, 81vh, 91px);
            transform: translate3d(23vw, 81vh, 91px);
  }
}

.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.99;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(13vw, 71vh, 78px);
          transform: translate3d(13vw, 71vh, 78px);
  background: #2697d9;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(28vw, 69vh, 19px);
            transform: translate3d(28vw, 69vh, 19px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(28vw, 69vh, 19px);
            transform: translate3d(28vw, 69vh, 19px);
  }
}

.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.06;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(38vw, 16vh, 60px);
          transform: translate3d(38vw, 16vh, 60px);
  background: #d9bb26;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(84vw, 34vh, 3px);
            transform: translate3d(84vw, 34vh, 3px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(84vw, 34vh, 3px);
            transform: translate3d(84vw, 34vh, 3px);
  }
}

.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.28;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(38vw, 27vh, 81px);
          transform: translate3d(38vw, 27vh, 81px);
  background: #4dd926;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(68vw, 73vh, 89px);
            transform: translate3d(68vw, 73vh, 89px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(68vw, 73vh, 89px);
            transform: translate3d(68vw, 73vh, 89px);
  }
}

.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.08;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(84vw, 71vh, 10px);
          transform: translate3d(84vw, 71vh, 10px);
  background: #266ed9;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(69vw, 50vh, 24px);
            transform: translate3d(69vw, 50vh, 24px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(69vw, 50vh, 24px);
            transform: translate3d(69vw, 50vh, 24px);
  }
}

.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.57;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(89vw, 77vh, 20px);
          transform: translate3d(89vw, 77vh, 20px);
  background: #d9d326;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(87vw, 33vh, 33px);
            transform: translate3d(87vw, 33vh, 33px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(87vw, 33vh, 33px);
            transform: translate3d(87vw, 33vh, 33px);
  }
}

.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.81;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(43vw, 9vh, 4px);
          transform: translate3d(43vw, 9vh, 4px);
  background: #d96e26;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(70vw, 73vh, 56px);
            transform: translate3d(70vw, 73vh, 56px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(70vw, 73vh, 56px);
            transform: translate3d(70vw, 73vh, 56px);
  }
}

.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.64;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(38vw, 18vh, 25px);
          transform: translate3d(38vw, 18vh, 25px);
  background: #2fd926;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(29vw, 77vh, 54px);
            transform: translate3d(29vw, 77vh, 54px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(29vw, 77vh, 54px);
            transform: translate3d(29vw, 77vh, 54px);
  }
}

.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.75;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(9vw, 74vh, 22px);
          transform: translate3d(9vw, 74vh, 22px);
  background: #d9263e;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(9vw, 33vh, 89px);
            transform: translate3d(9vw, 33vh, 89px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(9vw, 33vh, 89px);
            transform: translate3d(9vw, 33vh, 89px);
  }
}

.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.94;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(36vw, 28vh, 33px);
          transform: translate3d(36vw, 28vh, 33px);
  background: #26d9cd;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(2vw, 28vh, 87px);
            transform: translate3d(2vw, 28vh, 87px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(2vw, 28vh, 87px);
            transform: translate3d(2vw, 28vh, 87px);
  }
}

.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.91;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(70vw, 34vh, 40px);
          transform: translate3d(70vw, 34vh, 40px);
  background: #d926a0;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(68vw, 65vh, 99px);
            transform: translate3d(68vw, 65vh, 99px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(68vw, 65vh, 99px);
            transform: translate3d(68vw, 65vh, 99px);
  }
}

.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.59;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(36vw, 32vh, 50px);
          transform: translate3d(36vw, 32vh, 50px);
  background: #5326d9;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(4vw, 20vh, 66px);
            transform: translate3d(4vw, 20vh, 66px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(4vw, 20vh, 66px);
            transform: translate3d(4vw, 20vh, 66px);
  }
}

.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.54;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(19vw, 41vh, 94px);
          transform: translate3d(19vw, 41vh, 94px);
  background: #2cd926;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(18vw, 45vh, 51px);
            transform: translate3d(18vw, 45vh, 51px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(18vw, 45vh, 51px);
            transform: translate3d(18vw, 45vh, 51px);
  }
}

.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.92;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(8vw, 80vh, 44px);
          transform: translate3d(8vw, 80vh, 44px);
  background: #d95326;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(53vw, 20vh, 42px);
            transform: translate3d(53vw, 20vh, 42px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(53vw, 20vh, 42px);
            transform: translate3d(53vw, 20vh, 42px);
  }
}

.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.01;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(62vw, 89vh, 99px);
          transform: translate3d(62vw, 89vh, 99px);
  background: #d926ca;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(26vw, 11vh, 14px);
            transform: translate3d(26vw, 11vh, 14px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(26vw, 11vh, 14px);
            transform: translate3d(26vw, 11vh, 14px);
  }
}

.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.4;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(1vw, 57vh, 23px);
          transform: translate3d(1vw, 57vh, 23px);
  background: #26d9d6;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(78vw, 19vh, 27px);
            transform: translate3d(78vw, 19vh, 27px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(78vw, 19vh, 27px);
            transform: translate3d(78vw, 19vh, 27px);
  }
}

.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.72;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(3vw, 49vh, 90px);
          transform: translate3d(3vw, 49vh, 90px);
  background: #bed926;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(10vw, 63vh, 30px);
            transform: translate3d(10vw, 63vh, 30px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(10vw, 63vh, 30px);
            transform: translate3d(10vw, 63vh, 30px);
  }
}

.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.63;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  -webkit-transform: translate3d(76vw, 52vh, 98px);
          transform: translate3d(76vw, 52vh, 98px);
  background: #bb26d9;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(63vw, 46vh, 60px);
            transform: translate3d(63vw, 46vh, 60px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(63vw, 46vh, 60px);
            transform: translate3d(63vw, 46vh, 60px);
  }
}

.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.34;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform: translate3d(47vw, 64vh, 90px);
          transform: translate3d(47vw, 64vh, 90px);
  background: #b5d926;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(56vw, 90vh, 53px);
            transform: translate3d(56vw, 90vh, 53px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(56vw, 90vh, 53px);
            transform: translate3d(56vw, 90vh, 53px);
  }
}

.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.41;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  -webkit-transform: translate3d(51vw, 17vh, 74px);
          transform: translate3d(51vw, 17vh, 74px);
  background: #265fd9;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(4vw, 28vh, 45px);
            transform: translate3d(4vw, 28vh, 45px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(4vw, 28vh, 45px);
            transform: translate3d(4vw, 28vh, 45px);
  }
}

.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.63;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  -webkit-transform: translate3d(75vw, 9vh, 16px);
          transform: translate3d(75vw, 9vh, 16px);
  background: #35d926;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(30vw, 30vh, 89px);
            transform: translate3d(30vw, 30vh, 89px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(30vw, 30vh, 89px);
            transform: translate3d(30vw, 30vh, 89px);
  }
}

.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.47;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transform: translate3d(58vw, 1vh, 60px);
          transform: translate3d(58vw, 1vh, 60px);
  background: #d9b226;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(68vw, 52vh, 51px);
            transform: translate3d(68vw, 52vh, 51px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(68vw, 52vh, 51px);
            transform: translate3d(68vw, 52vh, 51px);
  }
}

.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.31;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  -webkit-transform: translate3d(79vw, 84vh, 26px);
          transform: translate3d(79vw, 84vh, 26px);
  background: #26d997;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(35vw, 69vh, 9px);
            transform: translate3d(35vw, 69vh, 9px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(35vw, 69vh, 9px);
            transform: translate3d(35vw, 69vh, 9px);
  }
}

.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.64;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  -webkit-transform: translate3d(68vw, 16vh, 61px);
          transform: translate3d(68vw, 16vh, 61px);
  background: #26d92c;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(50vw, 87vh, 91px);
            transform: translate3d(50vw, 87vh, 91px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(50vw, 87vh, 91px);
            transform: translate3d(50vw, 87vh, 91px);
  }
}

.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 0.24;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  -webkit-transform: translate3d(54vw, 47vh, 74px);
          transform: translate3d(54vw, 47vh, 74px);
  background: #26bed9;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(63vw, 10vh, 88px);
            transform: translate3d(63vw, 10vh, 88px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(63vw, 10vh, 88px);
            transform: translate3d(63vw, 10vh, 88px);
  }
}

.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.31;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  -webkit-transform: translate3d(3vw, 58vh, 50px);
          transform: translate3d(3vw, 58vh, 50px);
  background: #4dd926;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(62vw, 41vh, 31px);
            transform: translate3d(62vw, 41vh, 31px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(62vw, 41vh, 31px);
            transform: translate3d(62vw, 41vh, 31px);
  }
}

.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.53;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-transform: translate3d(5vw, 72vh, 82px);
          transform: translate3d(5vw, 72vh, 82px);
  background: #c426d9;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.fullheight-page {
  min-height: 100vh;
}
/*# sourceMappingURL=custom.css.map */