.card-zoom {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Animation */
  margin: 0 auto;
}

.card-zoom:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.text-zoom {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Animation */
  margin: 0 auto;
}

.text-zoom:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.card-img-top {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(5vw, 6vh, 47px);
            transform: translate3d(5vw, 6vh, 47px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(5vw, 6vh, 47px);
            transform: translate3d(5vw, 6vh, 47px);
  }
}

.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.55;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(76vw, 15vh, 92px);
          transform: translate3d(76vw, 15vh, 92px);
  background: #d92647;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(24vw, 54vh, 46px);
            transform: translate3d(24vw, 54vh, 46px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(24vw, 54vh, 46px);
            transform: translate3d(24vw, 54vh, 46px);
  }
}

.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.51;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(46vw, 45vh, 12px);
          transform: translate3d(46vw, 45vh, 12px);
  background: #d92647;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(40vw, 89vh, 46px);
            transform: translate3d(40vw, 89vh, 46px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(40vw, 89vh, 46px);
            transform: translate3d(40vw, 89vh, 46px);
  }
}

.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.2;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(68vw, 57vh, 7px);
          transform: translate3d(68vw, 57vh, 7px);
  background: #d9bb26;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(12vw, 86vh, 66px);
            transform: translate3d(12vw, 86vh, 66px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(12vw, 86vh, 66px);
            transform: translate3d(12vw, 86vh, 66px);
  }
}

.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.67;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(13vw, 5vh, 12px);
          transform: translate3d(13vw, 5vh, 12px);
  background: #32d926;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(62vw, 78vh, 86px);
            transform: translate3d(62vw, 78vh, 86px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(62vw, 78vh, 86px);
            transform: translate3d(62vw, 78vh, 86px);
  }
}

.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.84;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(69vw, 50vh, 71px);
          transform: translate3d(69vw, 50vh, 71px);
  background: #2635d9;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(47vw, 9vh, 15px);
            transform: translate3d(47vw, 9vh, 15px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(47vw, 9vh, 15px);
            transform: translate3d(47vw, 9vh, 15px);
  }
}

.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.52;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(63vw, 13vh, 12px);
          transform: translate3d(63vw, 13vh, 12px);
  background: #26cad9;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(86vw, 76vh, 56px);
            transform: translate3d(86vw, 76vh, 56px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(86vw, 76vh, 56px);
            transform: translate3d(86vw, 76vh, 56px);
  }
}

.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.18;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(40vw, 27vh, 9px);
          transform: translate3d(40vw, 27vh, 9px);
  background: #d9267d;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(43vw, 1vh, 48px);
            transform: translate3d(43vw, 1vh, 48px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(43vw, 1vh, 48px);
            transform: translate3d(43vw, 1vh, 48px);
  }
}

.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.84;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(52vw, 89vh, 97px);
          transform: translate3d(52vw, 89vh, 97px);
  background: #b826d9;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(11vw, 63vh, 42px);
            transform: translate3d(11vw, 63vh, 42px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(11vw, 63vh, 42px);
            transform: translate3d(11vw, 63vh, 42px);
  }
}

.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.38;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(35vw, 31vh, 26px);
          transform: translate3d(35vw, 31vh, 26px);
  background: #2638d9;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(59vw, 58vh, 59px);
            transform: translate3d(59vw, 58vh, 59px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(59vw, 58vh, 59px);
            transform: translate3d(59vw, 58vh, 59px);
  }
}

.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.81;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(42vw, 1vh, 40px);
          transform: translate3d(42vw, 1vh, 40px);
  background: #26d3d9;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(20vw, 65vh, 72px);
            transform: translate3d(20vw, 65vh, 72px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(20vw, 65vh, 72px);
            transform: translate3d(20vw, 65vh, 72px);
  }
}

.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.95;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(58vw, 33vh, 66px);
          transform: translate3d(58vw, 33vh, 66px);
  background: #ac26d9;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(63vw, 67vh, 49px);
            transform: translate3d(63vw, 67vh, 49px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(63vw, 67vh, 49px);
            transform: translate3d(63vw, 67vh, 49px);
  }
}

.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.84;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(69vw, 32vh, 7px);
          transform: translate3d(69vw, 32vh, 7px);
  background: #26d977;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(44vw, 32vh, 67px);
            transform: translate3d(44vw, 32vh, 67px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(44vw, 32vh, 67px);
            transform: translate3d(44vw, 32vh, 67px);
  }
}

.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.42;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(82vw, 84vh, 7px);
          transform: translate3d(82vw, 84vh, 7px);
  background: #53d926;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(82vw, 25vh, 36px);
            transform: translate3d(82vw, 25vh, 36px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(82vw, 25vh, 36px);
            transform: translate3d(82vw, 25vh, 36px);
  }
}

.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.84;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(14vw, 54vh, 44px);
          transform: translate3d(14vw, 54vh, 44px);
  background: #bed926;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(10vw, 86vh, 94px);
            transform: translate3d(10vw, 86vh, 94px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(10vw, 86vh, 94px);
            transform: translate3d(10vw, 86vh, 94px);
  }
}

.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.57;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(55vw, 21vh, 36px);
          transform: translate3d(55vw, 21vh, 36px);
  background: #82d926;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(81vw, 65vh, 26px);
            transform: translate3d(81vw, 65vh, 26px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(81vw, 65vh, 26px);
            transform: translate3d(81vw, 65vh, 26px);
  }
}

.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.91;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(85vw, 51vh, 64px);
          transform: translate3d(85vw, 51vh, 64px);
  background: #d96526;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(88vw, 57vh, 3px);
            transform: translate3d(88vw, 57vh, 3px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(88vw, 57vh, 3px);
            transform: translate3d(88vw, 57vh, 3px);
  }
}

.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.71;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(42vw, 67vh, 53px);
          transform: translate3d(42vw, 67vh, 53px);
  background: #26d0d9;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(61vw, 80vh, 5px);
            transform: translate3d(61vw, 80vh, 5px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(61vw, 80vh, 5px);
            transform: translate3d(61vw, 80vh, 5px);
  }
}

.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.14;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(60vw, 11vh, 4px);
          transform: translate3d(60vw, 11vh, 4px);
  background: #afd926;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(89vw, 58vh, 14px);
            transform: translate3d(89vw, 58vh, 14px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(89vw, 58vh, 14px);
            transform: translate3d(89vw, 58vh, 14px);
  }
}

.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.31;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(73vw, 28vh, 65px);
          transform: translate3d(73vw, 28vh, 65px);
  background: #c1d926;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(57vw, 9vh, 84px);
            transform: translate3d(57vw, 9vh, 84px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(57vw, 9vh, 84px);
            transform: translate3d(57vw, 9vh, 84px);
  }
}

.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.28;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(27vw, 47vh, 62px);
          transform: translate3d(27vw, 47vh, 62px);
  background: #bb26d9;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(54vw, 2vh, 19px);
            transform: translate3d(54vw, 2vh, 19px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(54vw, 2vh, 19px);
            transform: translate3d(54vw, 2vh, 19px);
  }
}

.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.59;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  -webkit-transform: translate3d(35vw, 29vh, 22px);
          transform: translate3d(35vw, 29vh, 22px);
  background: #5f26d9;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(43vw, 63vh, 50px);
            transform: translate3d(43vw, 63vh, 50px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(43vw, 63vh, 50px);
            transform: translate3d(43vw, 63vh, 50px);
  }
}

.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.63;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform: translate3d(87vw, 60vh, 96px);
          transform: translate3d(87vw, 60vh, 96px);
  background: #d96b26;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(62vw, 58vh, 55px);
            transform: translate3d(62vw, 58vh, 55px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(62vw, 58vh, 55px);
            transform: translate3d(62vw, 58vh, 55px);
  }
}

.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.98;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  -webkit-transform: translate3d(21vw, 25vh, 94px);
          transform: translate3d(21vw, 25vh, 94px);
  background: #a326d9;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(20vw, 3vh, 13px);
            transform: translate3d(20vw, 3vh, 13px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(20vw, 3vh, 13px);
            transform: translate3d(20vw, 3vh, 13px);
  }
}

.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.6;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  -webkit-transform: translate3d(87vw, 90vh, 79px);
          transform: translate3d(87vw, 90vh, 79px);
  background: #d92629;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(63vw, 27vh, 6px);
            transform: translate3d(63vw, 27vh, 6px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(63vw, 27vh, 6px);
            transform: translate3d(63vw, 27vh, 6px);
  }
}

.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.84;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transform: translate3d(11vw, 48vh, 8px);
          transform: translate3d(11vw, 48vh, 8px);
  background: #5c26d9;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(29vw, 34vh, 79px);
            transform: translate3d(29vw, 34vh, 79px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(29vw, 34vh, 79px);
            transform: translate3d(29vw, 34vh, 79px);
  }
}

.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.51;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  -webkit-transform: translate3d(23vw, 30vh, 17px);
          transform: translate3d(23vw, 30vh, 17px);
  background: #268bd9;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(8vw, 12vh, 4px);
            transform: translate3d(8vw, 12vh, 4px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(8vw, 12vh, 4px);
            transform: translate3d(8vw, 12vh, 4px);
  }
}

.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.75;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  -webkit-transform: translate3d(57vw, 57vh, 45px);
          transform: translate3d(57vw, 57vh, 45px);
  background: #266ed9;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(72vw, 85vh, 80px);
            transform: translate3d(72vw, 85vh, 80px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(72vw, 85vh, 80px);
            transform: translate3d(72vw, 85vh, 80px);
  }
}

.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 0.16;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  -webkit-transform: translate3d(2vw, 32vh, 69px);
          transform: translate3d(2vw, 32vh, 69px);
  background: #d9269d;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(9vw, 76vh, 67px);
            transform: translate3d(9vw, 76vh, 67px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(9vw, 76vh, 67px);
            transform: translate3d(9vw, 76vh, 67px);
  }
}

.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.65;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  -webkit-transform: translate3d(82vw, 41vh, 53px);
          transform: translate3d(82vw, 41vh, 53px);
  background: #d926ac;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(67vw, 14vh, 24px);
            transform: translate3d(67vw, 14vh, 24px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(67vw, 14vh, 24px);
            transform: translate3d(67vw, 14vh, 24px);
  }
}

.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.32;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-transform: translate3d(87vw, 64vh, 21px);
          transform: translate3d(87vw, 64vh, 21px);
  background: #26a9d9;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.landing-page {
  min-height: 100vh;
}
/*# sourceMappingURL=custom.css.map */