.card-zoom {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Animation */
  margin: 0 auto;
}

.card-zoom:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.text-zoom {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Animation */
  margin: 0 auto;
}

.text-zoom:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.card-img-top {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(88vw, 14vh, 69px);
            transform: translate3d(88vw, 14vh, 69px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(88vw, 14vh, 69px);
            transform: translate3d(88vw, 14vh, 69px);
  }
}

.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.93;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(2vw, 5vh, 32px);
          transform: translate3d(2vw, 5vh, 32px);
  background: #d9d026;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(41vw, 78vh, 93px);
            transform: translate3d(41vw, 78vh, 93px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(41vw, 78vh, 93px);
            transform: translate3d(41vw, 78vh, 93px);
  }
}

.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.06;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(47vw, 45vh, 13px);
          transform: translate3d(47vw, 45vh, 13px);
  background: #2682d9;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(90vw, 50vh, 64px);
            transform: translate3d(90vw, 50vh, 64px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(90vw, 50vh, 64px);
            transform: translate3d(90vw, 50vh, 64px);
  }
}

.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.21;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(54vw, 81vh, 67px);
          transform: translate3d(54vw, 81vh, 67px);
  background: #d92662;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(38vw, 56vh, 59px);
            transform: translate3d(38vw, 56vh, 59px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(38vw, 56vh, 59px);
            transform: translate3d(38vw, 56vh, 59px);
  }
}

.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.6;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(26vw, 27vh, 57px);
          transform: translate3d(26vw, 27vh, 57px);
  background: #26d9cd;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(2vw, 37vh, 92px);
            transform: translate3d(2vw, 37vh, 92px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(2vw, 37vh, 92px);
            transform: translate3d(2vw, 37vh, 92px);
  }
}

.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.65;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(56vw, 43vh, 25px);
          transform: translate3d(56vw, 43vh, 25px);
  background: #d926c4;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(23vw, 71vh, 10px);
            transform: translate3d(23vw, 71vh, 10px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(23vw, 71vh, 10px);
            transform: translate3d(23vw, 71vh, 10px);
  }
}

.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.64;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(26vw, 51vh, 98px);
          transform: translate3d(26vw, 51vh, 98px);
  background: #26d965;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(20vw, 13vh, 42px);
            transform: translate3d(20vw, 13vh, 42px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(20vw, 13vh, 42px);
            transform: translate3d(20vw, 13vh, 42px);
  }
}

.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.98;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(27vw, 27vh, 26px);
          transform: translate3d(27vw, 27vh, 26px);
  background: #d9b826;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(35vw, 32vh, 76px);
            transform: translate3d(35vw, 32vh, 76px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(35vw, 32vh, 76px);
            transform: translate3d(35vw, 32vh, 76px);
  }
}

.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.23;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(27vw, 71vh, 82px);
          transform: translate3d(27vw, 71vh, 82px);
  background: #26bed9;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(82vw, 12vh, 28px);
            transform: translate3d(82vw, 12vh, 28px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(82vw, 12vh, 28px);
            transform: translate3d(82vw, 12vh, 28px);
  }
}

.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.57;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(86vw, 80vh, 32px);
          transform: translate3d(86vw, 80vh, 32px);
  background: #5cd926;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(27vw, 84vh, 83px);
            transform: translate3d(27vw, 84vh, 83px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(27vw, 84vh, 83px);
            transform: translate3d(27vw, 84vh, 83px);
  }
}

.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.1;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(13vw, 34vh, 55px);
          transform: translate3d(13vw, 34vh, 55px);
  background: #38d926;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(44vw, 42vh, 85px);
            transform: translate3d(44vw, 42vh, 85px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(44vw, 42vh, 85px);
            transform: translate3d(44vw, 42vh, 85px);
  }
}

.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.58;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(80vw, 73vh, 21px);
          transform: translate3d(80vw, 73vh, 21px);
  background: #26d9c4;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(40vw, 50vh, 81px);
            transform: translate3d(40vw, 50vh, 81px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(40vw, 50vh, 81px);
            transform: translate3d(40vw, 50vh, 81px);
  }
}

.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.24;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(19vw, 65vh, 85px);
          transform: translate3d(19vw, 65vh, 85px);
  background: #264ad9;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(85vw, 66vh, 17px);
            transform: translate3d(85vw, 66vh, 17px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(85vw, 66vh, 17px);
            transform: translate3d(85vw, 66vh, 17px);
  }
}

.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.09;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(61vw, 85vh, 54px);
          transform: translate3d(61vw, 85vh, 54px);
  background: #26d3d9;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(26vw, 25vh, 79px);
            transform: translate3d(26vw, 25vh, 79px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(26vw, 25vh, 79px);
            transform: translate3d(26vw, 25vh, 79px);
  }
}

.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.55;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(60vw, 22vh, 81px);
          transform: translate3d(60vw, 22vh, 81px);
  background: #d92668;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(52vw, 17vh, 86px);
            transform: translate3d(52vw, 17vh, 86px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(52vw, 17vh, 86px);
            transform: translate3d(52vw, 17vh, 86px);
  }
}

.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.87;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(4vw, 51vh, 4px);
          transform: translate3d(4vw, 51vh, 4px);
  background: #d0d926;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(71vw, 17vh, 32px);
            transform: translate3d(71vw, 17vh, 32px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(71vw, 17vh, 32px);
            transform: translate3d(71vw, 17vh, 32px);
  }
}

.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.25;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(71vw, 16vh, 39px);
          transform: translate3d(71vw, 16vh, 39px);
  background: #d926c7;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(79vw, 72vh, 89px);
            transform: translate3d(79vw, 72vh, 89px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(79vw, 72vh, 89px);
            transform: translate3d(79vw, 72vh, 89px);
  }
}

.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.4;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(83vw, 65vh, 94px);
          transform: translate3d(83vw, 65vh, 94px);
  background: #85d926;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(61vw, 7vh, 99px);
            transform: translate3d(61vw, 7vh, 99px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(61vw, 7vh, 99px);
            transform: translate3d(61vw, 7vh, 99px);
  }
}

.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.2;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(44vw, 47vh, 74px);
          transform: translate3d(44vw, 47vh, 74px);
  background: #26d947;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(41vw, 16vh, 7px);
            transform: translate3d(41vw, 16vh, 7px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(41vw, 16vh, 7px);
            transform: translate3d(41vw, 16vh, 7px);
  }
}

.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.64;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(21vw, 43vh, 85px);
          transform: translate3d(21vw, 43vh, 85px);
  background: #263ed9;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(20vw, 1vh, 48px);
            transform: translate3d(20vw, 1vh, 48px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(20vw, 1vh, 48px);
            transform: translate3d(20vw, 1vh, 48px);
  }
}

.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.36;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(13vw, 66vh, 77px);
          transform: translate3d(13vw, 66vh, 77px);
  background: #26d9c7;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(39vw, 53vh, 99px);
            transform: translate3d(39vw, 53vh, 99px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(39vw, 53vh, 99px);
            transform: translate3d(39vw, 53vh, 99px);
  }
}

.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.82;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  -webkit-transform: translate3d(47vw, 80vh, 7px);
          transform: translate3d(47vw, 80vh, 7px);
  background: #d92682;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(6vw, 20vh, 72px);
            transform: translate3d(6vw, 20vh, 72px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(6vw, 20vh, 72px);
            transform: translate3d(6vw, 20vh, 72px);
  }
}

.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.7;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform: translate3d(86vw, 24vh, 58px);
          transform: translate3d(86vw, 24vh, 58px);
  background: #5626d9;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(80vw, 19vh, 20px);
            transform: translate3d(80vw, 19vh, 20px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(80vw, 19vh, 20px);
            transform: translate3d(80vw, 19vh, 20px);
  }
}

.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.06;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  -webkit-transform: translate3d(76vw, 77vh, 62px);
          transform: translate3d(76vw, 77vh, 62px);
  background: #2f26d9;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(90vw, 70vh, 38px);
            transform: translate3d(90vw, 70vh, 38px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(90vw, 70vh, 38px);
            transform: translate3d(90vw, 70vh, 38px);
  }
}

.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.33;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  -webkit-transform: translate3d(25vw, 64vh, 1px);
          transform: translate3d(25vw, 64vh, 1px);
  background: #5926d9;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(8vw, 60vh, 3px);
            transform: translate3d(8vw, 60vh, 3px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(8vw, 60vh, 3px);
            transform: translate3d(8vw, 60vh, 3px);
  }
}

.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.49;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transform: translate3d(33vw, 17vh, 7px);
          transform: translate3d(33vw, 17vh, 7px);
  background: #d95926;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(54vw, 84vh, 66px);
            transform: translate3d(54vw, 84vh, 66px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(54vw, 84vh, 66px);
            transform: translate3d(54vw, 84vh, 66px);
  }
}

.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.95;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  -webkit-transform: translate3d(66vw, 41vh, 17px);
          transform: translate3d(66vw, 41vh, 17px);
  background: #265fd9;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(50vw, 34vh, 21px);
            transform: translate3d(50vw, 34vh, 21px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(50vw, 34vh, 21px);
            transform: translate3d(50vw, 34vh, 21px);
  }
}

.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.15;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  -webkit-transform: translate3d(55vw, 44vh, 14px);
          transform: translate3d(55vw, 44vh, 14px);
  background: #d9266b;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(28vw, 70vh, 12px);
            transform: translate3d(28vw, 70vh, 12px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(28vw, 70vh, 12px);
            transform: translate3d(28vw, 70vh, 12px);
  }
}

.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 0.47;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  -webkit-transform: translate3d(80vw, 67vh, 25px);
          transform: translate3d(80vw, 67vh, 25px);
  background: #2635d9;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(57vw, 66vh, 13px);
            transform: translate3d(57vw, 66vh, 13px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(57vw, 66vh, 13px);
            transform: translate3d(57vw, 66vh, 13px);
  }
}

.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.5;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  -webkit-transform: translate3d(51vw, 90vh, 21px);
          transform: translate3d(51vw, 90vh, 21px);
  background: #8b26d9;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(36vw, 79vh, 11px);
            transform: translate3d(36vw, 79vh, 11px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(36vw, 79vh, 11px);
            transform: translate3d(36vw, 79vh, 11px);
  }
}

.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 1;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-transform: translate3d(63vw, 62vh, 19px);
          transform: translate3d(63vw, 62vh, 19px);
  background: #d9265f;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.fullheight-page {
  min-height: 100vh;
}
/*# sourceMappingURL=custom.css.map */